    /*반응형 포인트잡기*/


@media screen and (max-width: 1240px){
    .video_area .count { top: 130px; padding-left: 0.5rem;}
    .main-menu {top: 13rem;left: 45%;}
}

@media screen and (max-width: 1024px){
    #header h1 a img{margin-left: 1rem;}
    .video_area .count { top: 130px; padding-left: 1rem;}
    .video_area .count h2 {font-size: 3rem;top: 124px;}
    .video_area .count p {font-size: 1.2rem;}
    .video_area .count a {font-size: 1rem;}
    .main-menu {top: 11rem;left: 38%;}
    #main .m_04 .wrap .brand img{max-width: 220px;}
    #footer .f_inner{    max-width: 900px;}
}

@media screen and (max-width: 840px){
    #footer img {display: none;}
}

@media screen and (max-width: 768px){
    #header .nav ul.menu li {padding-right: 4%;}
    #header .nav ul.menu li a{font-size: 1.1rem;}
    .main {display: none;}
    .video_area .count h2{font-size: 2.3rem;padding-top: 0rem; margin-bottom: 12px;}
    #main .m_01 .m1_img{padding-right: 0rem; }
    #main .m_01 .m1_img img{  width: 72%;display: block;margin: auto;}
    #main .m_01 .m1_txt h2{font-size: 2.3rem;}
    #main .m_01 .m1_txt button{font-size: 0.8rem;width: 60px;}
    #main .m_04 .wrap .brand img:last-child{right: 52px;}
    #main .m_04 .wrap .brand img:first-child{top: 240px;left: 86px;}
    .m_05 img{width: 80%;}
    .m_05 li{width: 50%}
    .m_05 li:nth-child(1),.m_05 li:nth-child(2){margin-bottom: 2rem;}
    .m_03{padding: 2rem 0;}
    #footer .f_menu a{padding-left: 1%;}
    #footer img {display: none;}
    .icon_fig_cap p {font-size: 14px;}
}


@media screen and (max-width: 425px){
    #header{background-color:rgba(0,0,0,0.8)}
    #header .mini_menu{display: none;}
    #header .nav ul.menu li:not(.li_button){display: none;}
    #header h1 a img{    margin-top: 19px; width: 75%;margin-left: 0;}
    #header button a svg {font-size: 32px;margin-top: 4px;}
    #main .m_01{padding: 9rem 0 3rem;}
    .video_area{display: none;}
    .icon_box{width: 45%;padding: 27px 4px;}
    .icon_box1,.icon_box2{ margin-bottom: 1.3rem;}
    #main .m_04 .wrap .brand img{max-width:130px}
    #main .m_04 .wrap .brand img:first-child{ top: 124px;left: 36px;}
    #main .m_04 .wrap .brand img:last-child{right: 38px;top:0;}
    #main .m_04{padding: 3rem 0;}
    .boxs_bg{padding: 3rem 0;}
    .m_05 p{font-size: 0.8rem;}
    .m_05 .tit h2{margin-bottom: 2rem;}
    #footer * {font-size: 0.7rem;}
    #footer li:first-child{font-size: 0.8rem;}
    #footer .copy_1{ display: none;}
    #footer .f_menu {display: none;}
}


@media screen and (max-width: 375px){
#main .m_01 .m1_img img{width: 60%;}
#main .m_01 .m1_txt h2{font-size: 2rem;}
#main .m_01 .m1_txt p{font-size: 0.9rem;}
#main .m_04 .wrap .brand img{max-width: 110px;}
.m_03{display: none;}
#main .m_04 h1{font-size: 2rem;}
#main .m_04 p{font-size: 0.9rem;}
.m_05 .tit h2{font-size: 2rem;}
.m_05 h4{font-size: 1rem;}
.m_05 p{font-size: 0.7rem;}
#footer *{    font-size: 0.6rem;}
#footer li:first-child{font-size: 0.7rem;}
.icon_box{width: 49%; padding: 20px 0px;}
.icon_box1, .icon_box2{margin-bottom: 0.2rem;}
.icon_fig_cap p{font-size: 12px;}
.m_05{padding: 2rem 0;}

}



@media screen and (max-width: 320px){
#header h1 a img{    width: 65%;}
#header button a svg{    font-size: 30px;}
#main .m_04 .wrap .brand img{    max-width: 90px;}
#main .m_04 .wrap .brand img:first-child{    top: 100px;}
.icon_fig_cap p{    font-size: 11px;}
.m_05 p{font-size: 0.6rem;}
}