/*소개페이지 CSS*/

/*reset*/
@import url(./fix/reset.css);

/*상단*/
@import url(./fix/header.css);

/*슬릭배너처리*/
@import url(./slick.css);


#container {
    display: flex;
    overflow: hidden;
}


/*서브타이틀 SYTLE*/


#Sub_title {
    background: url(../images/sub_tit_01.png) no-repeat;
    background-size: cover;
    background-position: center center;
}

.Sub_wrap {
    width: 100%;
}

.Sub_inner {
    text-align: center;
    color: #fff;
    padding: 160px 0 60px;
}

.Sub_inner h2 {
    font-size: 2.2rem;
    font-weight: 800;
    line-height: 1;
    padding-bottom: 1rem;
    animation: tracking-in-expand 1.5s cubic-bezier(0.215, 0.610, 0.355, 1.000)  both;
}

.Sub_inner h2 span { 
    font-size: 1.2rem;
    padding-left: 1rem;
    font-weight: normal;
    font-family: "NanumBarunGothic";    
}

.Sub_inner p {
    font-size: 1.2rem;
    font-family: "NanumBarunGothic";
    animation: tracking-in-contract 1.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) 0.5s both;
}

/*애니메이션*/
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -1rem;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
    letter-spacing: 0.1rem;
  }
}

@keyframes tracking-in-contract {
  0% {
    letter-spacing: -1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}

/*애니메이션 종료*/



/*        Brand 소개        */


.List_cont {
    width: 100%;
    overflow: hidden;
    background: rgb(255, 255, 255);

}

.List_cont h1.t_01 {
    text-align: right;
    padding: 2.5rem 3rem ;
    font-size: 4rem;
    font-weight: 800;
    color: #292929;
}
.List_cont .brandList {}


.List_cont .brandList ul {
    margin: 0 3rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    height: 100%;
}

.List_cont .brandList ul li {
    flex-grow: 0;
    margin: 0.5rem auto;
    width: 250px;
    height: 139px;
    vertical-align: top;
    position: relative;
    overflow: hidden;
    border: 1px #ededee solid;
    box-shadow: 5px 5px 12px #ededee;
    box-sizing: border-box;
   
}


.List_cont .brandList ul li > a {
    object-fit: cover;
    width: 100%;
    height: 100%;
    display: block;

}
.List_cont .brandList ul li img {
    width: 100%;
}

.List_cont .brandList ul li:hover img {
    margin-top: -139px
}


/*반응형일때, 여백*/
.padding_box {
    padding: 0 1.2rem;
}



/*        membership     */

.Mevership {
    position: relative;
    margin: 10% auto;
    max-width: 1400px;
}

.innerBox {
    position: relative;
    margin: 0 auto;
    max-width: 1400px;
}

.Mevership .innerBox:before {
    content: '';
    display: block;
    position: absolute;
    top: -30px;
    left: -100px;
    width: 230px;
    height: 230px;
    border-radius: 50%;
    background: #edd7df;
    transform-origin: 45% 45%;
    animation: cycleM 5s linear infinite alternate both;
}

.Mevership .Ms_Wrap:before {
    content: '';
    display: block;
    position: absolute;
    bottom: -144px;
    right: -352px;
    width: 450px;
    height: 479px;
    background: url(../images/shape1.gif) no-repeat;
    transform: rotate(30deg);
}

.Mevership .slickWrap {
    position: relative;
    margin-top: 70px;
}

.Mevership .slickInfo {}

.Mevership .slickInfo h1 {
    font-weight: 800;;
    font-size: 4rem;
    color: #c5819a
}

.Mevership .slickInfo .text {
    margin-top: 1%;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.8;
    color: #686868;
    font-family: "NanumBarunGothic";
}

.Mevership .slick-list {
    margin-top: 2%
}

.Mevership .slick_m {
    box-sizing: border-box;
    opacity: 1;
    transition: all .3s ease;
    cursor: pointer;
    padding-right: 5%;
    width: 100%;
    height: 100%;
}

.Mevership .slickBox {
    position: relative;
    left: 12%;
}

.Mevership .slickBox .img {
    width: 100%;
    height: 100%;
    transition: all 0.5s;
    transform: scale(1);
}

.Mevership .slickBox .img:hover {
    transform: scale(0.9);
}

.Mevership .slickBox .img img {
    width: 100%;
}

.Mevership .slickBox .title {
    margin-left: 15px;
    margin-top: 30px;
    font-size: 24px;
    font-weight: bold;
}

.Mevership .slickBox .text {
    margin-left: 15px;
    margin-top: 15px;
    font-size: 0.9rem;
    color: #999999;
    font-family: "NanumBarunGothic";
}


.slick-arrow {
    font-size: 0px;
}

.slick-prev {
    position: absolute;
    left: -12%;
    top: 0;
    width: 52px;
    height: 52px;
    background: url("../images/icons/btn_arrow_off.png") no-repeat;
    background-size: cover;
    transition: all .3s ease;
}

.slick-prev:hover {
    background-image: url('../images/icons/btn_arrow_on.png')
}

.slick-next {
    position: absolute;
    top: 0;
    left: -6%;
    width: 52px;
    height: 52px;
    background: url("../images/icons/btn_arrow_off.png") no-repeat;
    background-size: cover;
    transform: rotate(180deg);
    transition: all .3s ease;
}


.slick-next:hover {
    background-image: url('../images/icons/btn_arrow_on.png')
}

.fadeInUp {
    animation-name: fadeInUp;
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}


@keyframes cycleM {
    0% {
        transform: translateY(0) scale(1);
    }

    100% {
        transform: translateY(-40px) scale(1.2);
    }
}

/* Happy Point App*/


.innerBox_h {
    position: relative;
    max-width: 1400px;
    margin: 0 auto;
}

.Memvership_List {
    position: relative;
    margin-top: 70px;
}

.Memvership_List h2 {
    position: relative;
    z-index: 1;
    padding-top: 50px;
    padding-bottom: 15px;
    font-size: 4rem;
    font-weight: 800;
    color: #292929;
    ;
}

.Memvership_List span {
    position: relative;
    z-index: 1;
    display: block;
    font-size: 1rem;
    font-weight: bold;
    color: #7f7f7f;
    line-height: 1.6;
    left: 5px;

}

.Memvership_List .text {
    position: relative;
    left: 5px;
    z-index: 1;
    padding-top: 1%;
    font-size: 1.1rem;
    color: #7f7f7f;
    line-height: 1.6;
    font-family: "NanumBarunGothic";
}


.Memvership_List .btnAppDown {
    margin: 40px 0 230px;
}

.Memvership_List .btnPlay {
    display: inline-block;
    width: 220px;
    height: 60px;
    font-size: 0;
    background: url('../images/icons/googleplay.png') no-repeat;
}

.Memvership_List .btnStore {
    display: inline-block;
    width: 220px;
    height: 60px;
    margin-left: 0.5%;
    font-size: 0;
    background: url('../images/icons/appstore.png') no-repeat;
}
.Memvership_List img {
    width: 250px;
    filter: drop-shadow(13px 21px 13px #000);
}
.Memvership_List .img1 {
    position: absolute;
    top: 0;
    right: 50px;
}

.Memvership_List .img2 {
    position: absolute;
    top: 140px;
    right: 400px;
    
}


/*        해피포인트앱 설명        */

.AppInfo {
    padding: 50px 0;
    background: #f8f8f8;
}
.AppInfo .AppInfo_header img{
    width: 39px; 
    vertical-align: top;
    animation: rotate_image 3s linear infinite;
    transform-origin: 50% 50%;
}

/*애니메이션*/

@keyframes rotate_image {
    100% {
        transform: rotate(360deg);
    }
}

.AppInfo .AppInfo_header h2 {
    display: inline-block;
    line-height: 41px;
    font-weight: bold;
    font-size: 1.8rem;
    color: #111;
    margin-left: 0.5rem
}

.AppInfo .box {
    overflow: hidden;
    position: relative;
    margin-top: 35px;
    padding: 0 4rem ;
}

.AppInfo .box:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 20px;
    border: 1px solid #e3e3e3;
    box-sizing: border-box;
}


.AppInfo .box_all {
    margin: auto;
    max-width: 820px;
    margin-top: 3.5rem
}

.AppInfo .box_center {
    display: flex;
    border-bottom: 1px dotted #bcbcbc;
    flex-wrap: wrap;
}
.AppInfo .box_05 .box_center{
    border:none;
}
/*앱 이용 이미지*/
.AppInfo .box_img{
    margin-right: 4rem;
    
}

.AppInfo .box_img img{
   text-align: center;
}



/*앱 이용 텍스트*/

.AppInfo .box_txt {
    box-sizing: border-box;
    padding: 34px 0;
}


.AppInfo .box_txt h3 {
    font-size: 1.2rem;
    color: #111;
    font-weight: bold;
}

.AppInfo .box_txt h3 em {
    color: #c5819a;
    font-style: normal;
}

.AppInfo .box_txt ul {
}

.AppInfo .box_txt li {
    position: relative;
    margin-top: 5px;
    padding-left: 12px;
    font-size: 1rem;
    font-family: 'NanumBarunGothic';
    
}

.AppInfo .box_txt li span {
    color: #999;
}

.AppInfo .box li:before {
    content: '';
    display: block;
    position: absolute;
    top: 10px;
    left: 0;
    width: 5px;
    height: 1px;
    background: #111;
}

