
/*하단*/

#footer *{
    font-family: "NanumBarunGothic";
    font-size: 0.9rem;
    line-height: 2;
}
#footer {
    background: #111;
    color: #bbb;
    overflow: hidden;
    box-sizing: border-box;
    padding: 20px 0;
   
}


#footer .f_inner {
    max-width: 1000px;
    width: 100%;
    margin: auto;
    box-sizing: border-box;
}
#footer .f_text{
    display: flex;
}

#footer .f_text .f_left {
    flex-grow: 5;
/*    width: 100%;*/
}
#footer .f_menu {
    margin-bottom: 0.8rem;
    text-align: center;
}

#footer .f_menu a{
    padding-left: 3%;
   
}

#footer .f_menu a:first-child{
    padding-left: 0
}

#footer .f_info {
    display: flex;
    justify-content: space-between
}

.f_info .copy {
   
}

#footer li:first-child {
    font-size: 1rem;
}
#footer .f_site{
    width: 100%;
    
}
#footer .f_site form {
    width: 100%;
}
#footer .f_site select {
    width: 100%;
    max-width: 150px;
    border: 1px solid #999;
    cursor: pointer;
    color: #999;
    padding: 2px 4px;
}
#footer .f_right{
    margin: auto;
}
#footer img {
/*    display: none;*/
    max-width: 100px;
    display: block;
}

